@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");



 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

 

.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url('https://picsum.photos/1600/900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}