@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");



 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

 

.App {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  background-image: url('https://picsum.photos/1600/900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

/* @media all and (min-width: 480px) {
  .register {
    padding: 60px 0;
  }

  .register form {
    margin: 0 auto;
    max-width: 320px;
  }
} */




/* 
.form {
  flex-grow: 1;
}
.header {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Girassol', cursive;
}

h2{
  font-family: Girassol;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.navbar {
  padding: 2rem 5rem;
  background-color: #a1230d !important;
}
a{
  font-size: 2rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 50px;
} */